<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.acorn.myframeapp">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFrameApp"
        tools:targetApi="31">

        <!--全面/刘海屏适配 start-->
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--全面/刘海屏适配 end-->

        <activity
            android:name="com.acorn.myframeapp.ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.acorn.myframeapp.ui.network.NormalMVVMFragmentActivity" />
        <activity android:name="com.acorn.myframeapp.ui.network.NormalMVVMActivity" />
        <activity android:name="com.acorn.myframeapp.ui.network.MVVMEventActivity" />
        <activity android:name="com.acorn.myframeapp.ui.recyclerview.ConventionalRecyclerViewActivity" />
        <activity android:name="com.acorn.myframeapp.ui.recyclerview.HeaderFooterRecyclerViewActivity" />
        <activity android:name="com.acorn.myframeapp.ui.recyclerview.EmptyRecyclerViewActivity" />
        <activity android:name="com.acorn.myframeapp.ui.recyclerview.AnimationRecyclerViewActivity" />
        <activity android:name=".ui.recyclerview.GridRecyclerViewActivity" />
        <activity android:name=".ui.recyclerview.PayloadsRecyclerViewActivity" />
        <activity android:name=".ui.recyclerview.ItemDecorationRecyclerViewActivity" />
        <activity android:name=".ui.recyclerview.SwipeActionRecyclerActivity" />
        <activity android:name=".ui.recyclerview.SwipeSingleActionRecyclerActivity" />
        <activity android:name=".ui.recyclerview.StickySectionRecyclerViewActivity" />
        <activity android:name=".ui.recyclerview.DragRecyclerViewActivity" />
        <activity android:name=".ui.nestedscroll.WebviewRecyclerNestedActivity" />
        <activity android:name=".ui.nestedscroll.TwoRecyclerViewNestedActivity" />
        <activity android:name=".ui.nestedscroll.RecyclerviewViewPagerNestedActivity" />
        <activity
            android:name=".ui.pulllayout.QMUIPullLayoutActivity"
            android:theme="@style/MyQMUITheme" />
        <activity android:name=".ui.test.TestViewActivity" />
        <activity
            android:name=".ui.dialog.DialogActivity"
            android:theme="@style/MyQMUITheme" />
        <activity android:name=".ui.photo.TakePhotoOrVideoActivity" />
        <activity android:name=".ui.webview.X5WebviewActivity" />
        <activity android:name=".ui.popup.PopupActivity" />
        <activity android:name=".ui.lazyfragment.old.OldLazyFragmentActivity" />
        <activity android:name=".ui.lazyfragment.androidx.AndroidXLazyFragmentActivity" />
        <activity android:name=".ui.annotation.AnnotationActivity" />
        <activity android:name=".ui.internationalization.InternationalActivity" />
        <activity android:name="com.acorn.myframeapp.ui.chart.mpchart.LineChartActivity" />
        <activity android:name="com.acorn.myframeapp.ui.chart.mpchart.LineChartActivity2" />
        <activity android:name="com.acorn.myframeapp.ui.chart.mpchart.CombinedChartActivity" />
        <activity android:name=".ui.chart.androidplot.PlotLineChartActivity" />
        <activity android:name=".ui.recyclerview.largedata.LargeDataRecyclerActivity" />
        <activity android:name=".ui.recyclerview.largedata2.LargeDataDynamicActivity" />
        <activity android:name=".ui.video.ExoPlayerActivity" />
        <activity
            android:name=".ui.video.VlcActivity"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".ui.coroutine.flow.CoroutineFlowActivity" />
        <activity android:name=".ui.camera.CameraXBasicActivity" />


        <!-- Android 7.0 文件共享配置，必须配置 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.imcore.metaverse.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>